<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vincenthuang.androiddemos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EditTextTest" />
        <activity android:name=".activity.NinePatchTest" />
        <activity android:name=".activity.AdapterViewTest" />
        <activity android:name=".activity.AdapterViewActivity.ArrayAdapterTest" />
        <activity android:name=".activity.AdapterViewActivity.BaseAdapterTest" />
        <activity android:name=".activity.AdapterViewActivity.ExpandableListViewTest" />
        <activity android:name=".activity.AdapterViewActivity.ListActivityTest" />
        <activity android:name=".activity.AdapterViewActivity.SimpleAdapterTest" />
        <activity android:name=".activity.AdapterViewActivity.GridViewTest" />
        <activity android:name=".activity.AdapterViewActivity.SpinnerTest"></activity>
    </application>

</manifest>